<ion-view title="Dashboard">

<ion-content class="has-header">

<div class="list card">

  <div class="item item-avatar">
    <img src="images/csm_Heuchelheimer_See_2_04_580514afdf.jpg">
    <h2>Heuchelheimer See</h2>
    <p>Badesaison 01.06.2015 - 31.08.2015</p>
  </div>

  <div class="item item-body">
    <p>
      Der 8,8 ha große See hat meist sehr sauberes Wasser. Er wird wegen einer Wasserskianlage besonders von Wasserski- und Wakeboard-Fahrern geschätzt, jedoch besitzt er am südöstlichen Ufer auch eine Liegewiese von der man zum Baden ans Wasser gelangt.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left tabs-assertive">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>

<div class="list card">

  <div class="item item-avatar">
    <img src="images/csm_Dutenhofener_See04_3e6c49d2e6.jpg">
    <h2>Dutenhofener BadeSee</h2>
    <p>Badesaison 19.05.2015 - 01.09.2015</p>
  </div>

  <div class="item item-body">
    <p>
      Im Tal der Lahn zwischen Gießen und Wetzlar ist der Dutenhofer See mit 29,4 ha Fläche nicht der einzige Badesee, der durch das Ausbaggern von Kiesvorkommen entstanden ist. Die Umgebung ist als Erholungs- und Naturschutzgebiet beliebtes Ziel für einen sommerlichen Badeausflug. Das ansonsten klare Wasser kann durch Algenwachstum grünlich werden, ein Sandstrand wird jährlich für die Badesaison neu aufgeschüttet.
    </p>
    <p>
      <a href="#" class="subdued">25 Likes</a>
      <a href="#" class="subdued">10 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>
</div>
<!-- <div class="card">
  <div class="item item-divider">
    Heuchelheimer See
  </div>
  <div class="item item-text-wrap">
    Aktuelle Wetterdaten und andere nützliche Informationen
  </div>
</div>

<div class="card">
  <div class="item item-divider">
    Dutenhofener See
  </div>
  <div class="item item-text-wrap">
    Aktuelle Wetterdaten und andere nützliche Informationen
  </div>
</div> -->
</ion-content>
</ion-view>