// Your application styles go here
.info {
    position: inherit;
    top: 10%;
    /*left: 15%;*/
    font-family: Hawaii 5-0, sans-serif;
    color: blue;
};
.weatherinfo {
    //position: inherit;
    top: 100%;
    right: 0%;
    font-family: Hawaii 5-0, sans-serif;
    //color: blue;
};
.fontColor {
    font-family: Hawaii 5-0, sans-serif;
    color: #96561E;
};
.rating {
    font-family: Hawaii 5-0, sans-serif;
    color: #707070;
    //margin-right: 3px;
    width:100%;
};

/**
 * For switch animation
 */

.animate-switch-container {
    position:relative;
//  background:white;
//  border:1px solid black;
    height:40px;
    width:100%;
    overflow:hidden;
}

.animate-switch {
  //padding:10px;
    width:100%;
}

.animate-switch.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
    top:-50px;
}
.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
    top:0;
}

/**
 * lakeMap.html
 */
.lakemap{
    .scroll, .angular-leaflet-map {
        height: 100%;
    }
    height: 100%;
}




/**
 * lake.html
 */
.slider-parent{
    width: 100%;
    padding-bottom: 56%;
    position: relative;
    .slider-child {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        .angular-leaflet-map{
            height: 100%;
        }
    }
}

.cover{
    background-size: cover;
    .copyright{
        color: white;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}


.even-panel{
    display: table;
    table-layout: fixed;
    padding: 5px 0;
    width: 100%;
    > *{
        display: table-cell;
        text-align: center;
        padding: 0 5px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}

.simple-panel{
    width: 100%;
    position: relative;
    padding:0;
    &[disabled],
    &.disabled{
        opacity: initial;
    }
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    .content {
        position:  absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
    }
}

/**
 * Rating panel
 */
.rating-panel{
    @extend .simple-panel;
    .content {
        .indicator{
            // top: 0;
            position: absolute;
            width: 100%;
            color: white;
        }
        .star{
            // bottom: 0;
            position: absolute;
            width: 100%;
            color: white;
        }
    }
}



/**
 * Weather panel
 */
.weather-panel{
    @extend .simple-panel;
    background-color: white;
    .content {
        .top{
            position: absolute;
            width: 100%;
        }
        .bottom{
            position: absolute;
            width: 100%;
            white-space: nowrap;
        }
    }
}

/**
 * Distance panel
 */
.distance-panel{
    @extend .simple-panel;
    background-color: white;
    .content {
        .top{
            position: absolute;
            width: 100%;
        }
        .bottom{
            position: absolute;
            width: 100%;
            white-space: nowrap;
        }
    }
}

/**
 * Activity panel
 */
.activity-panel{
    @extend .simple-panel;
    background-color: white;
    .content {
        img{
            padding: 5px;
            width: 100%;
        }
    }
}

.activity-table{
    display: table;
    table-layout: fixed;
    width: 100%;
    td{
        display: table-cell;
        text-align: center;
        padding: 2px 2px;
        opacity: 0.1;
        &.is-activity{
            opacity: 1;
        }

    }
}

.even-panel{
    display: table;
    table-layout: fixed;
    padding: 5px 0;
    width: 100%;
    > *{
        display: table-cell;
        text-align: center;
        padding: 0 5px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
    }
}



/**
 * Rating modal
 */
.rating-modal{
    .euimage{
        width: 100%;
    }
    .text{
        padding-left: 5px;
    }
}

/**
 * Dashboard / Favoriten
 */

 .dashboard {
    .messages {
        float: right;
    }
    .weather-btn > button {
        border: none;
    }
}


.noelements-scroll{
    .scroll{
        width: 100%;
        height: 100%;
    }
    .noelements-container{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0.25;
        .noelements-icon{
            font-size: 50vh;
        }
        .noelements-text{
            font-size: 4vh;
            line-height: 4vh;
        }
    }
}

.row-with-cards{
    padding: 0;
    .col{
        padding: 0;
        margin-bottom: 5px;
    }
}


.loading-container{
    .loading{
        background-color: initial;
        font-size: 70px;
    }

}


/**
 * Error message
 */
.error-scroll{
    .scroll{
        width: 100%;
        height: 100%;
    }
    .error-container{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        opacity: 0.25;
        .error-icon{
            font-size: 50vh;
        }
        .error-text{
            font-size: 6vh;
            line-height: 6vh;
        }

        .error-button{
            margin-top: 20px;
        }
    }
}

#no-dist-spin svg {
  width: 60px;
  height: 60px;
  stroke: #444;
  fill: #444;
}

#load-dist {
    line-height: 1em;
    font-weight: bold;
}
