/* Empty. Add your own CSS if you like */
.info-position {
	position: absolute;
	top: 35%;
	right: 15px;
};
.temp-position {
	position: inherit;
	top: 10%;
	left: 15%;
	/*font-family: fantasy;*/
	color: #009900;
};