/* Empty. Add your own CSS if you like */
.info {
	position: inherit;
	top: 10%;
	/*left: 15%;*/
	font-family: Hawaii 5-0, sans-serif;
	color: #96561E;
};
.fontColor {
	font-family: Hawaii 5-0, sans-serif;
	color: #96561E;
};