/* Empty. Add your own CSS if you like */
.badge .info-position {
	position: absolute;
	top: 85%;
	right: 15px;
};
.temp-position {
	position: inherit;
	top: 10%;
	left: 15%;
	font-family: fantasy;
	font-color: green;
};