<ion-view title="BadeseeApp">
<ion-content class="has-header">

<div class="list card" ng-repeat="lake in lakes">
  <div class="item item-avatar item-positive" style="background-color: gray">
    <img src="images/csm_Heuchelheimer_See_2_04_580514afdf.jpg">
    <h2>{{lake.name}}</h2>
    <p style="color: #96561E">Badesaison: {{lake.openFrom}} - {{lake.openTo}}</p>
  </div>

  <div class="item item-body">
    <p>
      {{lake.introtext}}
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>
 </div>
 <div class="card" ng-hide="dbCtrl.lakes.length">
            <div class="item item-text-wrap">
                <p>Keine Favoriten vorhanden</p>
                <button class="button button-block ion-plus button-light"
                        ng-click="dbCtrl.addFavorite()">Favoriten
                    anlegen
                </button>
            </div>
	</div>
</ion-content>
</ion-view>