<ion-view title="Favoriten">
<ion-nav-buttons side="right">
<button class="button button-icon icon ion-ios7-star-outline" ng-click="goToLakeList()"></button>
</ion-nav-buttons>
<ion-content class="has-header">

<div class="list card" ng-repeat="lake in favorites">
  <div class="item item-avatar item-positive" style="background-color: gray">
    <img ng-src="{{lake.images[0].src}}">
    <h2>{{lake.name}}</h2>
    <p style="color: #96561E">Badesaison: {{lake.openFrom}} - {{lake.openTo}}</p>
  </div>

  <div class="item item-body">
    <p>
      {{lake.introtext}}
    </p>
    <p>
      <a href="#" class="subdued">{{lake.measurements[0].waterTemperature}} Like(s)</a>
    </p>
  </div>
  <ion-footer-bar class="bar-stable">
        <div class="button-bar">
            <button class="button button-clear" ng-click="openModal(lake)">Mehr Informationen</button>
        </div>
    </ion-footer-bar>
 </div>
 <div class="card" ng-hide="favorites.length">
            <div class="item item-text-wrap">
                <p>Keine Favoriten vorhanden</p>
                <button class="button button-block ion-plus button-light"
                        ng-click="goToLakeList()">Favoriten
                    anlegen
                </button>
            </div>
	</div>
</ion-content>
</ion-view>