<ion-view>
    <ion-nav-title>
        {{lake.name}}
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <a class="button button-clear" ng-click="goBack()">
            <i class="ion-arrow-left-c"></i> Zurück
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="right" >
        <button ng-hide="error || init" class="button button-icon icon" ng-class="{'ion-ios-star-outline': !isFav, 'ion-ios-star': isFav }"  ng-click="toogleFav()">
        </button>
    </ion-nav-buttons>

    <error-panel reload="reload" error="error"></error-panel>
    <ion-content class="has-header" ng-hide="error || init">
        <div class="slider-parent" ng-show="lake.images.length">
            <ion-slide-box class="slider-child">
                <ion-slide class="cover" ng-repeat="image in lake.images" ng-style="{'background-image':'url(\'{{image.src}}\')'}">
                <div class="copyright">
                    {{image.copyright}}
                </div>
                </ion-slide>
            </ion-slide-box>
        </div>
        <div class="row responsive-md row-with-cards">
            <div class="col col-50">
                <div class="card list">
                    <div class="item item-divider">
                        <strong>Übersicht</strong>
                    </div>
                    <a class="item item-icon-left item-text-wrap assertive" ng-show="messages.length" ng-click="openMessageModal()">
                        <i class="icon fa fa-exclamation-triangle "></i>
                        {{messages.length === 1 ? 'Es liegt eine Nachricht vor' : 'Es liegen ' + messages.length + ' Nachrichten vor'}}
                    </a>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-bullhorn"></i>
                        {{lake.bathingPermission}}
                    </div>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-calendar"></i>
                        Badesaison vom {{lake.openFrom | date:'dd.MM.yyyy'}} bis zum {{lake.openTo | date:'dd.MM.yyyy'}}
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        <strong>Beschreibung</strong>
                    </div>
                    <div class="item item-body" show-more-text="lake.introtext" max-chars="250">
                        <span show-more-text-content></span>
                        <a show-more-text-button href="javascript:void(0);"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row responsive-md row-with-cards">
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        <strong>Status</strong>
                    </div>
                    <div class="item even-panel">
                        <lake-rating lake="lake"></lake-rating>
                        <lake-weather weatherdata="weatherdata"></lake-weather>
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card">
                    <div class="item item-divider">
                        <strong>Mögliche Aktivitäten</strong>
                    </div>
                    <div class="item">
                    <table class="activity-table">
                        <tr>
                            <td ng-class="{'is-activity': isActivity('BADEN')}">
                                <activity-button disabled  activity="'BADEN'"></activity-button>
                            </td>
                            <td ng-class="{'is-activity': isActivity('ANGELSPORT')}">
                                <activity-button disabled activity="'ANGELSPORT'"></activity-button>
                            </td>
                            <td ng-class="{'is-activity': isActivity('SEGELN')}">
                                <activity-button disabled activity="'SEGELN'"></activity-button>
                            </td>
                            <td ng-class="{'is-activity': isActivity('SPORTTAUCHEN')}">
                                <activity-button disabled activity="'SPORTTAUCHEN'"></activity-button>
                            </td>
                        </tr>
                        <tr>
                            <td ng-class="{'is-activity': isActivity('WASSERSKI')}">
                                <activity-button disabled activity="'WASSERSKI'"></activity-button>
                            </td>
                            <td ng-class="{'is-activity': isActivity('WINDSURFEN')}">
                                <activity-button disabled activity="'WINDSURFEN'"></activity-button>
                            </td>
                            <td ng-class="{'is-activity': isActivity('WASSERSPORT')}">
                                <activity-button disabled activity="'WASSERSPORT'"></activity-button>
                            </td>
                        </tr>
                    </table>
                    </div>
                   <!--  <div class="item item-divider">
                        Icons made by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a>, <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/icons8" title="Icons8">Icons8</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row responsive-md row-with-cards">
            <div class="col col-50">
                <div class="card list">
                    <div class="item item-divider">
                        <strong>Gewässerprofil</strong>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-tint"></i>
                        Badeseetyp {{lake.lakeType}}
                    </div>

                    <div class="item item-icon-left">
                        <i class="icon fa fa-arrows-v"></i>
                        {{lake.depthAvg}} Meter durchschnittliche Tiefe
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-arrows-v"></i>
                        {{lake.depthMax}} Meter maximale Tiefe
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-arrows"></i>
                        {{lake.areaHa}} Hektar Größe
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon fa fa-university"></i>
                        {{lake.city}}
                    </div>
                </div>
            </div>
            <div class="col col-50">
                <div class="card list">
                    <div class="item item-divider">
                        <strong>Letzte Gewässerprobe</strong>
                    </div>
                    <div class="item item-icon-left  item-text-wrap" ng-hide="latestMeasurement">
                        <i class="icon fa fa-info"></i>
                        Für diesen Badesee liegen noch keine Messwerte vor
                    </div>
                    <div class="item item-icon-left" ng-show="latestMeasurement">
                        <i class="icon fa fa-calendar"></i>
                        {{latestMeasurement.date | date:'dd.MM.yyyy'}}
                    </div>
                    <div class="item item-icon-left" ng-class="measurementRatingToClass(latestMeasurement)" ng-show="latestMeasurement">
                        <i class="icon fa" ng-class="{'fa-smile-o': (latestMeasurement.rating===1), 'fa-meh-o': (latestMeasurement.rating===2), 'fa-frown-o': (latestMeasurement.rating===3), 'fa-info': (latestMeasurement.rating > 3)}"></i>
                        {{measurementRatingToText(latestMeasurement)}}
                    </div>
                    <div class="item item-icon-left" ng-show="latestMeasurement.waterTemperature">
                        <i class="icon wi wi-thermometer"></i>
                        {{latestMeasurement.waterTemperature}} °C Wassertemperatur
                    </div>
                    <div class="item item-icon-left" ng-show="latestMeasurement.enterocsocci">
                        <i class="icon fa fa-bug"></i>
                        {{latestMeasurement.enterocsocci}} Enterokokken (KBE/100ml)
                    </div>
                    <div class="item item-icon-left" ng-show="latestMeasurement.escherichiaColi">
                        <i class="icon fa fa-bug"></i>
                        {{latestMeasurement.escherichiaColi}} Escherichia-coli (KBE/100ml)
                    </div>
                    <div class="item item-icon-left" ng-show="latestMeasurement.comment">
                        <i class="icon fa fa-comment"></i>
                        {{latestMeasurement.comment}}
                    </div>
                    <a class="item item-icon-left positive" ng-show="latestMeasurement" ng-click="openMeasurementsModal()">
                        <i class="icon fa fa-history "></i>
                        Historische Messwerte anzeigen
                    </a>
                </div>
            </div>
        </div>
        <div class="row responsive-md row-with-cards">
            <div class="col col-50">
                <div class="card list">
                    <div class="item item-divider">
                        <strong>Betreiber</strong>
                    </div>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-user"></i>
                        {{lake.operator.name}}
                    </div>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-road"></i>
                        {{lake.operator.street}} {{lake.operator.zipcodeCity}}
                    </div>
                    <div class="item item-icon-left" ng-show="lake.operator.telephone">
                        <i class="icon fa fa-phone"></i>
                        {{lake.operator.telephone}}
                    </div>
                    <div class="item item-icon-left" ng-show="lake.operator.email">
                        <i class="icon fa fa-envelope-o"></i>
                        {{lake.operator.email}}
                    </div>

                    <div class="item item-icon-left" ng-show="lake.operator.fax">
                        <i class="icon fa fa-fax"></i>
                        {{lake.operator.fax}} s
                    </div>
                    <a class="item item-icon-left positive" ng-click="openLinkExtern(lake.operator.website)" ng-show="lake.operator.website">
                        <i class="icon fa fa-external-link"></i>
                        Webseite
                    </a>
                </div>
            </div>
            <div class="col col-50">
                <div class="card list">
                    <div class="item item-divider">
                        <strong>Zuständige Behörde</strong>
                    </div>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-user"></i>
                        {{lake.appropriateAuthority.name}}
                    </div>
                    <div class="item item-icon-left item-text-wrap">
                        <i class="icon fa fa-road"></i>
                        {{lake.appropriateAuthority.address}} {{lake.appropriateAuthority.addressAdditional}} {{lake.appropriateAuthority.street}} {{lake.appropriateAuthority.zipcodeCity}}
                    </div>
                    <div class="item item-icon-left" ng-show="lake.appropriateAuthority.telephone">
                        <i class="icon fa fa-phone"></i>
                        {{lake.appropriateAuthority.telephone}}
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
