<html>
<body>
	<ion-modal-view>
		<div class="bar bar-header bar-positive">
			<h1 class="title">{{lake.name}}</h1>
			<button class="button button-icon icon ion-ios-close-outline" ng-click="modal.hide()"></button>
		</div>
		<error-panel reload="reload" error="error"></error-panel>
    	<!-- Due to an angular bug an expression like error || init does not work every time -->
    	<ion-content class="has-header" ng-hide="error || init">
			<div class="card list">
				<div class="item item-divider">
					<strong>Übersicht</strong>
				</div>
				<a class="item item-icon-left item-text-wrap assertive" ng-show="messages.length" ng-click="openMessageModal()">
                    <i class="icon fa fa-exclamation-triangle "></i>
                    {{messages.length === 1 ? 'Es liegt eine Nachricht vor' : 'Es liegen ' + messages.length + ' Nachrichten vor'}}
                </a>
				<div class="item item-icon-left item-text-wrap">
					<i class="icon fa fa-bullhorn"></i>
					{{lake.bathingPermission}}
				</div>
				<div class="item item-icon-left item-text-wrap">
					<i class="icon fa fa-calendar"></i>
					Badesaison vom {{lake.openFrom | date:'dd.MM.yyyy'}} bis zum {{lake.openTo | date:'dd.MM.yyyy'}}
				</div>
			</div>
			<div class="card">
				<div class="item item-divider">
					<strong>Status</strong>
				</div>
				<div class="item even-panel">
					<lake-rating lake="lake" not-clickable></lake-rating>
					<lake-weather weatherdata="weatherdata" not-clickable></lake-weather>
				</div>
			</div>
			<div class="card">
				<div class="item item-divider">
					<strong>Beschreibung</strong>
				</div>
				<div class="item item-body" show-more-text="lake.introtext" max-chars="250">
					<span show-more-text-content></span>
					<a show-more-text-button href="javascript:void(0);"></a>
				</div>
			</div>
			<button class="button button-full button-positive" ng-click="goSinglePage();">
				Zur Einzelansicht
			</button>
		</ion-content>
	</ion-modal-view>
</body>
</html>
