<ion-view title="Liste">
    <ion-nav-buttons side="right">
        <button ng-hide="error || init" class="button button-icon icon ion-ios7-search" ng-click="llCtrl.toggleSearch()" ng-hide="llCtrl.searchActive" href="#"></button>
        <button ng-hide="error || init" class="button button-icon icon ion-ios7-more" ng-click="show()"></button>
    </ion-nav-buttons>
    <error-panel reload="reload" error="error"></error-panel>
    <ion-content class="has-header" ng-hide="error || init">
        <div class="item item-input-inset"
             ng-show="llCtrl.searchActive">
            <label class="item-input-wrapper">
                <i class="icon ion-ios7-search placeholder-icon"></i>
                <input type="text" placeholder="Search"
                       ng-model="llCtrl.searchQuery">
            </label>

            <button class="button button-clear"
                    style="min-height: inherit;line-height: inherit;"
                    ng-click="llCtrl.toggleSearch()">Cancel
            </button>
        </div>
        <ion-list>
            <ion-item ng-repeat='lake in filteresLakes = (lakes | filter:{name: llCtrl.searchQuery})' ng-href="#/lakes/{{lake._id}}">
                <span class="info">{{distBetweenCoords(lake.latitude, lake.longitude)}} {{lake.measurements[0].waterTemperature}} °C</span>
                <p class="h3 dark">{{lake.name}}</p>
                <i class="badge badge-assertive">{{lake.yearratings[0].rating}}</i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>