<ion-side-menus>
    <ion-pane ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios-arrow-back"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <!-- <ion-side-menu side="left" edge-drag-threshold="true" drag-content="false">
    <header class="bar bar-header bar-stable">
        <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
        <ion-list>
            <ion-item>
                Messwerte anzeigen / ausblenden
            </ion-item>
        </ion-list>
    </ion-content>
  </ion-side-menu> -->
</ion-side-menus>
