<html>
<body>
	<ion-modal-view>
		<div class="bar bar-header bar-positive">
			<h1 class="title">{{lake.name}}</h1>
			<button class="button button-icon icon ion-ios7-close-outline" ng-click="modal.hide()"></button>
		</div>
		<ion-content class="has-header has-footer">
		<a ng-href="#/lakes/{{lake._id}}">Testdetail</a>
			<div class="list card">
				<div class="item item-divider">
					<strong>Badesaison:</strong>
					{{lake.openFrom}} - {{lake.openTo}}
				</div>
				<div class="item item-body item-text-wrap">
					<p>
      					{{lake.introtext}}
    				</p>
    				<div>
						<strong>Art:</strong>
						{{lake.lakeType}}
					</div>
					<div>
						<strong>Maximale Tiefe:</strong>
						{{lake.depthMax}} Meter
					</div>
    			</div>
				<div class="item item-image">
					<img class="full-image" ng-src="{{lake.images[0].src}}"\>
				</div>
				<div class="item item-divider tabs tabs-secondary tabs-icon-left">
					<a class="tab-item" href="#">
						<i class="icon ion-ios7-chatboxes-outline"></i>
						Benachrichtigungen
					</a>
					<a class="tab-item" href="#">
						<i class="icon ion-ios7-more"></i>
						Mehr Info
					</a>
				</div>
    		</div>
		</ion-content>
		<div class="bar bar-footer bar-stable">
			<div>
			Einstufung der EU
			</div>
			<div class="button-bar">
				<a class="button button-outline" 
				ng-repeat='yearrating in lake.yearratings'
				ng-class="{'button-balanced':yearrating.rating==1||yearrating.rating==2,'button-energized':yearrating.rating==3||yearrating.rating==4,'button-assertive':yearrating.rating==5||yearrating.rating==6}">{{yearrating.year}}</a>
			</div>
		</div>
	</ion-modal-view>
</body>
</html>