<html>
<body>
	<ion-modal-view>
		<div class="bar bar-header bar-positive">
			<h1 class="title">Gewässerproben</h1>
			<button class="button button-icon icon ion-ios7-close-outline" ng-click="modal.hide()"></button>
		</div>
		<error-panel reload="reload" error="error"></error-panel>
    	<ion-content class="has-header has-footer" ng-hide="errorOrInit" ng-class="{'noelements-scroll':!measurements.length}" delegate-handle="mainScroll">
			<div class="card list" ng-repeat="measurement in measurements | orderBy:'-date'">
                <div class="item item-divider">
                    <strong>{{measurement.date | date:'dd.MM.yyyy'}}</strong>
                </div>
                <div class="item item-icon-left" ng-class="measurementRatingToClass(measurement)" ng-show="measurement">
                    <i class="icon fa" ng-class="{'fa-smile-o': (measurement.rating===1), 'fa-meh-o': (measurement.rating===2), 'fa-frown-o': (measurement.rating===3), 'fa-info': (measurement.rating > 3 || measurement.rating < 1)}"></i>
                    {{measurementRatingToText(measurement)}}
                </div>
                <div class="item item-icon-left" ng-show="measurement.waterTemperature">
                    <i class="icon wi wi-thermometer"></i>
                    {{measurement.waterTemperature}} °C Wassertemperatur
                </div>
                <div class="item item-icon-left" ng-show="measurement.enterocsocci">
                    <i class="icon fa fa-bug"></i>
                    {{measurement.enterocsocci}} Enterokokken (KBE/100ml)
                </div>
                <div class="item item-icon-left" ng-show="measurement.escherichiaColi">
                    <i class="icon fa fa-bug"></i>
                    {{measurement.escherichiaColi}} Escherichia-coli (KBE/100ml)
                </div>
                <div class="item item-icon-left" ng-show="measurement.comment">
                    <i class="icon fa fa-comment"></i>
                    {{measurement.comment}}
                </div>
            </div>
            <div ng-hide="measurements.length" class="noelements-container">
                <div class="noelements-icon">
                    <i class="fa fa-smile-o"></i>
                </div>
                <div class="noelements-text">
                    Keine Messwerte vorhanden
                </div>
            </div>
		</ion-content>
	</ion-modal-view>
</body>
</html>