<html>
<body>
	<ion-modal-view>
		<div class="bar bar-header bar-positive">
			<h1 class="title">Nachrichten</h1>
			<button class="button button-icon icon ion-ios7-close-outline" ng-click="modal.hide()"></button>
		</div>
		<error-panel reload="reload" error="error"></error-panel>
		<!-- Due to an angular bug an expression like error || init does not work every time -->
    	<ion-content class="has-header has-footer rating-modar" ng-hide="error" ng-hide="init" ng-class="{'noelements-scroll':!messages.length}">
			<div class="card list" ng-repeat="message in messages | orderBy:'-date'">
				<div class="item item-divider">
					<strong>{{message.date | date:'dd.MM.yyyy'}}</strong>
				</div>
				<div class="item item-body item-text-wrap" show-more-text="message.message" max-chars="250">
					<span show-more-text-content></span>
                    <a show-more-text-button href="javascript:void(0);"></a>
   				</div>
			</div>
			<div ng-hide="messages.length" class="noelements-container">
    			<div class="noelements-icon">
      				<i class="fa fa-smile-o"></i>
    			</div>
    			<div class="noelements-text">
      				Keine Nachrichten vorhanden
    			</div>
 			</div>		
		</ion-content>
	</ion-modal-view>
</body>
</html>