<ion-view>
    <ion-tabs class="tabs-striped tabs-background tabs-positive" >
        <ion-tab title="Favoriten" ui-sref="tabs.dash">
            <ion-nav-view name="dash-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Karte" ui-sref="tabs.lakeMap">
            <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Liste" ui-sref="tabs.lakeList">
            <ion-nav-view name="list-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
