<ion-nav-bar class="bar-positive">
            <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button> -->
</ion-nav-bar>
<ion-view>
    <ion-tabs class="tabs-striped tabs-background tabs-positive">
        <ion-tab title="Favoriten" href="#/tab/dashboard">
            <ion-nav-view name="dash-tab" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Karte" href="#/tab/lakeMap">
            <ion-nav-view name="map-tab" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Liste" href="#/tab/lakeList">
            <ion-nav-view name="list-tab" animation="slide-left-right"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>